.main{
  position: relative;
}
.nav{
  width:100%;
  border:none;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFCC00 ;
  background:black;
  border-bottom:1px solid #FFCC00;
}
.search{
  border:none;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFCC00 ;
  background:black;
  border-top:1px solid #FFCC00;
}
.test{
  height:200px;
}
.employee-name{
  width:100%;
  border:none;
  overflow-y:auto;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFBB00 ;
  background:black;
  text-align: left;
  cursor:pointer;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

img{
  filter:sepia(1);
  max-height:400px
}
.info-cont{
  background:black;
}
.img-cont{
  height:400px;
}
.dir{
    overflow-y:auto;
    height:400px;
}
.dir-cont {
  background: black;
}
.info{
  width:100%;
  border:none;
  overflow-y:auto;
  font-size: normal;  
  font-family: 'IBM Plex Mono', monospace;
  color: #FFBB00 ;
  background: black;
}
.scanlines{
  position: absolute;
  top:0px;
  left:0px;
  z-index:5;
  width:100%;
  height:100%;
  border:1px dotted black;
  overflow:hidden;
  pointer-events: none;

}
.sline{
  border-bottom: 1px solid black;
  height: 4px;
  opacity: .65;


}